.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: normal;
  background: #222;
  color:#d9d9d9;
  width: 100%;
  min-height: 50px;
  padding: 20px;
  box-sizing: border-box;
}
.footer ul {
  margin: 0;
  padding: 0;
}
.footer li {
  list-style: none;
  margin: 0 0 10px 0;
  font-size: 0.8rem;
}

.footer li a {
  text-decoration: none;
  color: #FFF;
}

.footer li i {
  padding: 0 10px 0 0;
}