body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}
.main {
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: solid 0.5px #999;
}
.header .logo {
  width: 20vw;
  height: 10vw;
}
.header .logo img {
  width: 100%;
  height: auto;
}
.header .search {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: right;
}
.header .search input[type="text"] {
  width: 350px;
  height: 45px;
  border: solid 1px #666;
  padding: 5px 10px;
  margin: 0;
  box-shadow: 3px 3px 5px #999;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 1rem;
}
.header .search .picto {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 1;
  background-color:#FF395D;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
.header .baseline {
  width: 200px;
  height: auto;
  color: #666;
  font-size: 0.75rem;
  text-decoration: none;
}
.header .baseline a {
  color: inherit;
  text-decoration: none;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 10px;
}
.section .widget {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30vw;
  height: 30vw;
  margin: 0 10px 20px 10px;
}
.section .widget .heart {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  opacity: 0.5;
}
.section .widget .heart .fa-heart {
  font-size: 2rem;
}
.section .widget .pager {
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  text-align: center;
}
.section .widget .pager .page {
  background: #000;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 0 5px;
  opacity: 0.6;
}
.section .widget .picture {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #999;
  width: 100%;
  height: 20rem;
  border-radius: 20px;
  overflow: hidden;
}
.section .widget .picture img {
  width: 150%;
  height: auto;
  align-items: center;
}
.section .widget .country {
  width: 100%;
  padding: 10px 0;
  text-align: left;
  font-size: 0.8rem;
}
.section .widget .country span {
  font-weight: bold;
}

  .footer {
  background: #555;
  color: #888;
  width: 100%;
  min-height: 50px;
}