.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: normal;
    background: #555;
    color: #999;
    width: 100%;
    min-height: 50px;
  }
  
  .footer li {
    list-style: none;
  }
  .footer li a {
    text-decoration: none;
    color: #FFF;
  }