.nav {
  position: relative;
  background:#353535;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  align-items:flex-start;
  align-content: flex-start;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0 0 0;
  box-sizing: border-box;
}
.nav .link {
  background: none;
  color: #FFF;
  text-decoration: none;
  margin: 0 5px 10px 5px;
  padding: 5px 10px;
  border: solid 1px #FFF;
  border-radius: 5px;
  cursor: pointer;
}
.nav .link:hover {
  background: #FFF;
  color:#000;
}