.nav {
  background:#222;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  align-items:flex-start;
  align-content: flex-start;
  width: 100%;
  padding: 10px 0 0 0;
  box-sizing: border-box;
}
.nav a {
  background: none;
  color: #FFF;
  text-decoration: none;
  margin: 0 5px 10px 5px;
  padding: 5px 10px;
  border: solid 1px #FFF;
  border-radius: 5px;
}
.nav a:hover {
  background: #FFF;
  color:#000;
}