@media screen and (max-width: 800px) {
  .home .header {
    max-height: 500px;
  }
  .home .header .title {
    padding: 0 50px;
  }
}

@media screen and (min-width: 801px) {
  .home .header {
    min-height: 400px;
  }
}

body {
  background: #161616;
  padding: 0;
}

.main {
  position: relative;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.gryffindor .header .title,
.hufflepuff .header .title,
.ravenclaw .header .title,
.slytherin .header .title {
  top: 40px;
}

.gryffindor .header .title h3 {
  font-size: 1.5rem;
}

.texte {
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
}