@media screen and (max-width: 800px) {
  .header {
    height: clamp(300px, 50vh, 500px);
  }
  .houses .header {
    height: clamp(300px, 40vh, 500px);
  }
  .slider {
    display: block;
  }
  .identity .images,
  .identity .infos {
    width: 100%;
  }
  .search {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (min-width: 801px) {
  .header {
    height: clamp(400px, 80vh, 600px);
  }
  .houses .header {
    height: clamp(300px, 50vh, 500px);
  }
  .slider {
    display: none;
  }
  .identity .images,
  .identity .infos {
    width: 50%;
  }
  .search {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

body {
  background: #161616;
  padding: 0;
}

.main {
  position: relative;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.texte {
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
}