<div class="widget">
    <div class="heart"><i class="fa-light fa fa-heart"></i></div>
    <div class="pager">
        <span id="page1" class="page"></span>
        <span id="page2" class="page"></span>
        <span id="page3" class="page"></span>
        <span id="page4" class="page"></span>
        <span id="page5" class="page"></span>
        <span id="page6" class="page"></span>
    </div>
    <div class="picture">
        <img src="./images/img1.webp" />
    </div>
    <div class="country">Stege, <span>Danemark</span>.</div>
</div>
<div class="widget">
    <div class="heart"><i class=" fa fa-heart"></i></div>
    <div class="picture">
        <img src="./images/img2.webp" />
    </div>
    <div class="country">Monta Delgada, <span>Portugal</span></div>
</div>
<div class="widget">
    <div class="heart"><i class=" fa fa-heart"></i></div>
    <div class="picture">
        <img src="./images/img3.webp" />
    </div>
    <div class="country">Drimnin, <span>Royaumme-Uni</span></div>
</div>
<div class="widget">
    <div class="heart"><i class=" fa fa-heart"></i></div>
    <div class="picture">
        <img src="./images/img4.webp" />
    </div>
    <div class="country">Amsterdam, <span>Pays-Bas</span></div>
</div>
<div class="widget">
    <div class="heart"><i class=" fa fa-heart"></i></div>
    <div class="picture">
        <img src="./images/img5.webp" />
    </div>
    <div class="country">Haute-Savoie, <strong>France</strong></div>
</div>
<div class="widget">
    <div class="heart"><i class=" fa fa-heart"></i></div>
    <div class="picture">
        <img src="./images/img6.webp" />
    </div>
    <div class="country">Haute-Savoie, <strong>France</strong></div>
</div>
<div class="widget">
    <div class="heart"><i class=" fa fa-heart"></i></div>
    <div class="picture">
        <img src="./images/img7.webp" />
    </div>
    <div class="country">Haute-Savoie, <strong>France</strong></div>
</div>
