.header .nav a {
  background: none;
  color: #FFF;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border: solid 1px #FFF;
  border-radius: 5px;
}

.header .nav a:hover {
  background: #FFF;
  color:#18BCEE;
}